
        .has-primary-color{
            color: #00f210;
        }
        .has-primary-background-color{
            background-color: #00f210;
        }
        
        .has-secondary-color{
            color: #6c757d;
        }
        .has-secondary-background-color{
            background-color: #6c757d;
        }
        
        .has-white-color{
            color: #FFFFFF;
        }
        .has-white-background-color{
            background-color: #FFFFFF;
        }
        
        .has-light-color{
            color: #f8f9fa;
        }
        .has-light-background-color{
            background-color: #f8f9fa;
        }
        
        .has-dark-color{
            color: #212529;
        }
        .has-dark-background-color{
            background-color: #212529;
        }
        
        .has-warning-color{
            color: #ffc107;
        }
        .has-warning-background-color{
            background-color: #ffc107;
        }
        
        .has-success-color{
            color: #198754;
        }
        .has-success-background-color{
            background-color: #198754;
        }
        
        .has-danger-color{
            color: #dc3545;
        }
        .has-danger-background-color{
            background-color: #dc3545;
        }
        
        .has-info-color{
            color: #0dcaf0;
        }
        .has-info-background-color{
            background-color: #0dcaf0;
        }
        